body {
    background: #e8daef;
}
footer {
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    background-color: black;
    color:lightgrey;
}

header {
background-color: #663366;
    text-align: center;
    font-size: 25px;
    padding: 25px 0 20px 0;
    font-weight: bolder;
    text-transform: uppercase;

     box-shadow: 5px 5px 5px rgba(0,0,0,0.1); /* This adds a slight shadow to the header */

}


.navbar ul{
    list-style: none;
    background: #2b50aa;
    margin: 0;
    text-align: center;
    font-size: 35px;
    border-radius: 10;
    transition: all .2s ease-in;
}

.navbar li {
    display: inline-block;

}
.navbar a {
    text-decoration: none;
    color: #fff;
    width: 250px;
    display: inline-block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.navbar a:hover {
    background: #1e3876;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorimagen {
    display: block;
}
p {
    text-align: center;
    
}

/* Estilos para la sección de GPS */
.gps {
    margin-top: 20px;
    align-items: center;
    text-align: center; /* Margen superior */
}

.gps h1 {
    font-size: 36px; /* Tamaño de fuente grande */
    font-family: "Arial", cursive, sans-serif; /* Fuente personalizada */
}



/* Estilos para los contenedores de mapas */
.map-container {
    display: flex; /* Elementos en línea */
    align-items: center; /* Centrar elementos verticalmente */
    margin: 20px; /* Margen alrededor */
}

/* Estilos para la información del mapa */
.map-info {
    margin-right: 20px; /* Margen derecho */
}

.map-info h3 {
    font-size: 22px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
}

.map-info p {
    font-size: 16px; /* Tamaño de fuente mediano */
}

/* Estilos para elementos de ubicación y detalles */
.location {
    background-color: skyblue; /* Fondo naranja */
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3); /* Sombra */
    border: 2px solid black; /* Borde sólido */
    text-align: center;
}

.details {
    background-color: lightblue; /* Fondo amarillo */
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3); /* Sombra */
    border: 2px solid black;
    display: grid; /* Borde sólido */
    height: 125px;
}

/* Estilos para el mapa incrustado */
iframe {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3); /* Sombra */
    border: 2px solid black; /* Borde sólido */
    border-radius: 7px;
}
#frame1 {
    margin-left: 18px;
}